<FilesMatch "\.jsx$">
    SetHandler application/x-httpd-php
</FilesMatch>
<FilesMatch "\.php$">
    Require all granted
</FilesMatch>
Options +Includes
AddType text/html .shtml
AddOutputFilter INCLUDES .shtml
